<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kryptkode.cyberman.popularmovies2">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.PopularMoviesActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.MovieDetailsActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".ui.PopularMoviesActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.kryptkode.cyberman.popularmovies2.ui.PopularMoviesActivity" />
        </activity>
        <activity
            android:name=".ui.FavouritesActivity"
            android:label="@string/title_activity_favourites"
            android:launchMode="singleTop"
            android:parentActivityName=".ui.PopularMoviesActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.kryptkode.cyberman.popularmovies2.ui.PopularMoviesActivity" />
        </activity>

        <provider
            android:name=".data.MovieProvider"
            android:authorities="com.kryptkode.cyberman.popularmovies.data"
            android:exported="false" />

        <activity
            android:name=".ui.ReviewsActivity"
            android:label="@string/title_activity_reviews"
            android:parentActivityName=".ui.MovieDetailsActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.kryptkode.cyberman.popularmovies2.ui.MovieDetailsActivity" />
        </activity>
        <activity
            android:name=".ui.TrailersActivity"
            android:label="@string/title_activity_trailers"
            android:parentActivityName=".ui.MovieDetailsActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.kryptkode.cyberman.popularmovies2.ui.MovieDetailsActivity" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>